body {
    margin: 0;
    padding: 0;
}

#canvas {
    display: block;
}

#startMenu, #gameOver, #playHUD {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
}

.author {
    margin-top: 0px;
}

.startButton, .restartButton {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid white;
    border-radius: 10px;
}

.startButton:hover, .restartButton:hover {
    background-color: #009900;
}

.scoreboard {
    margin: 0px;
}